name: Call a reusable workflow

on:
  pull_request:
    branches:
      - main
      - features/*

jobs:

  call-workflow-passing-data:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/reusable-infra.yml

    #uses: mikolajbb2002/static-web-app-deployment/ci-template/.github/workflows/reusable-infra.yml@main
    with:
      config-path: .github/labeler.yml
    secrets:
      token: 
        required: false
        # token: ${{ secrets.GITHUB_TOKEN }}