name: Call reusable workflow example

on:
  pull_request:
    branches:
      - main
      - features/*
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  run-labeler:
    uses: mikolajbb2002/static-web-app-deployment/ci-template/.github/workflows/reusable-infra.yml@main
    with:
      config-path: .github/labeler.yml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
